<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="1 minutes">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%logger{36}] - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE_APPENDER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- <file>/home/jerry/log/tomcat/api-rest.log</file> -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<!--<fileNamePattern>/gomeo2o/logs/im-dispatcher-logs/im-dispatcher.log.%d{yyyy-MM-dd}</fileNamePattern>-->
			<!--<fileNamePattern>/gomeo2o/logs/gomeplus-dispatcher-logs/im-dispatcher.log.%d{yyyy-MM-dd}</fileNamePattern>-->
			<fileNamePattern>${log-file-name}</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-4relative [%thread] [%-5level] %logger{35} - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<!-- level>DEBUG</level -->
			<level>INFO</level>
		</filter>
	</appender>

	<root level="INFO">
		<appender-ref ref="FILE_APPENDER" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>